tensorflow==2.19.1
tensorflow-io-gcs-filesystem==0.37.1
tensorflow[and-cuda]
numba==0.65.1
numpy==1.26.4
arrow==1.4.0
colorama==0.4.6
librosa==0.11.0
pretty_midi==0.2.11
matplotlib
mlflow==2.1.1
scipy==1.15.3
scikit-learn==1.7.2
pandas==1.5.3
pillow==12.2.0
pyarrow==10.0.1
google-api-core==2.30.3
google-auth==2.53.0
google-cloud-core==2.6.0
google-cloud-storage==3.10.1
google-crc32c==1.8.0
google-pasta==0.2.0
google-resumable-media==2.9.0
googleapis-common-protos==1.75.0
